task1/task1.asv
task1/slprj/sim/varcache/models/varInfo.mat
task1/slprj/sim/varcache/models/tmwinternal/simulink_cache.xml
task1/slprj/sim/varcache/models/checksumOfCache.mat
task1/models.slxc
Practice3/slprj
Practice3/LSR.slxc
Practice3/*.fls
Practice3/*.aux
Practice3/*.log
Practice3/*.fdb_latexmk
Practice3/*.synctex.gz
Practice3/*.toc
Practice4/slprj
Practice4/tex/Practice4_22320607_XuZiyang_Report.*
!Practice4/tex/Practice4_22320607_XuZiyang_Report.pdf
!Practice4/tex/Practice4_22320607_XuZiyang_Report.tex
Practice4/*.slxc
Practice4/*.autosave
Practice4/spinfo